@import url("https://fonts.googleapis.com/css?family=Ubuntu");

:root {
    --background: #101010;
    --foreground: #f5f6f7;
}
body {
    font-family: 'Ubuntu', sans-serif;
    color: var(--foreground);
    background-color: var(--background);
}
a {
    color: var(--foreground);
}
.web, .footer {
    display: inline-block;
    width: 400px;
    box-shadow: 0 0 10px var(--foreground);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.button {
    display: inline-block;
    box-shadow: 0 0 10px var(--foreground);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.button-text {
    padding-left: 1em;
    padding-right: 1em;
}
.web-text {
    padding-left: 1em;
}
.container {
    position:relative;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--foreground);
    margin-bottom: 2em;
}
.container-content {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 24px;
}
.container-close {
    position:absolute;
    right:0;
    top:0;
    background-color: var(--error);
    border:none;
    display:inline-block;
    padding:8px 16px;
    border-radius: 5px 10px 5px 5px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}
